<!DOCTYPE html>
<html>
    <head>
        <title>if-else statement</title>
        <meta charset="utf-8">
        <meta name="keyword" content="how to write the if ,if.else , nested if and else if ladder in shell script">
        <meta name="description" content="conditional statement in shell script on linux operating system, how to write simple if statement,else if in shell script">

    </head>
    <body>
        <div class="container">

 
           
            <div class="row"  style="border: 2px salmon;">
              

                <div class="card">
                    <h1>
                        {{post_object.title}}
                    </h1>
                    <p>Written By:{{post_object.publisher}}</p>

                    <p>
                        {{post_object.description}}
                    </p>

                    <div class="row">
                        <div class="col-sm-2" style="margin-left: 9%;">
                            If Statement
                        </div>
                        <div clss="com-sm-2">
                            If-Else Statement
                        </div>
                        <div class="col-sm-2">
                            If Else-if Statement
                        </div>
        
                        <div class="col-sm-2">
                            Nested If
                        </div>
        
                    </div>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="assets/images/shellscript/conditional_statment/if_statment.png" alt="shell script if statement">
                    </div>
                    <div class="col-sm-2" style="border: 2px salmon;">
                        <img src="assets/images/shellscript/conditional_statment/if_statment.png" alt="shell script if statement">
                    </div>
                    
                    <div class="col-sm-2" style="border: 2px salmon;">
                        <img src="assets/images/shellscript/conditional_statment/if_statment.png" alt="shell script if statement">
                    </div>
                    
                    <div class="col-sm-2" style="border: 2px salmon;">
                        <img src="assets/images/shellscript/conditional_statment/if_statment.png" alt="shell script if statement">
                    </div>
                    
                   
                     <div id="textbody">

                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>