<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="name" content="solve the ubuntu 20.04 login loop problem">
    <meta name="keyword" content="login problem on ubuntu 20.04(Focal Fossa)">
    <meta name="description" content="here we will learn how to solve the ubuntu 20.04 focal fossa login loop problem with the help of images and steps by steps guide">
    <link rel="canonical" href="https://www.visionrosetta.in/ubuntu-20.4-login-loop-problem">
    <title>Solve the problem of ubuntu 20.04(Focal Fossa)login loop problem</title>

    <meta http-equiv="Cache-Control" content="max-age=200" />

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">

                        <h1
                            tyle="font-family: 'Merriweather', serif;line-height: 45px;color:rgb(50,59,69);font-size: 33px;">
                            Solve the problem of ubuntu 20.04(Focal Fossa)login loop problem
                        </h1>
                        <span style="font-size: 13px;">
                            Written By: Shaharukh Parmar: 13,Dec 2020
                        </span><br>
                        <hr>
                        <img   src="assets/images/ubuntu/Tutorials/ubuntu20/ubuntu1.jpg" alt="update ubuntu 20.04 login loop packages"><br><br><br>

                        <p>- 
                            
                        <p>- Some of you might have installed fresh ubuntu 20.04 or maybe someone may have upgraded from their old Linux distros and now you are facing a login loop problem so let move ahead and try to solve it without taking much time</p>
                        <p>&nbsp;</p>



                        <p><strong>Step1:</strong></p>
<p><span style="font-weight: 400;">- Connect your machine with an active internet connection so your package can be installed (if you are accessing the internet connection through a hotspot, you have to enable tethering option to continue access the internet on your machine</span></p>
<p>&nbsp;</p>
<p><strong>Step2:</strong></p>
<p><span style="font-weight: 400;">- Now press the alt+ctrl+f3 same time to open the command line tools to move ahead</span></p>
<p>&nbsp;</p>
<p><strong>Step3</strong>:</p>
<p><span style="font-weight: 400;">- Now&nbsp; enter the below commands&nbsp;</span></p>
<img   src="assets/images/ubuntu/Tutorials/ubuntu20/ubuntu2.jpg" alt="update ubuntu 20.04 login loop packages"><br><br><br>
<p><span style="font-weight: 400;">- Guys don't forget to login into system before execute below commands(in your case username(computer name)& password </span></p>
<p><span style="font-weight: 400;">- Sudo apt update</span></p>
<p><span style="font-weight: 400;">- Sudo apt upgrade</span></p>
<p><span style="font-weight: 400;">-Reboot</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;"><strong>Step4</strong>:</span></p>
<p><span style="font-weight: 400;">&nbsp; - Now your machine will be rebooting, once the machine starts displaying a login screen now enter the login credentials to enter into the system&nbsp;</span></p>
<p>&nbsp;</p>
<p>- Hope this article would help you to solve this problem&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">- After reading this article if you found any mistake or to be needed further correction please kindly send an email with your suggestion(shaharukh@visionrosetta.in)&nbsp;</span></p>
<p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="disqus_thread"></div>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
</body>

</html>