
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="preconnect">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          
      <h4 style="color:green"> Welcome To the VisionRosetta</h4><br>
      <p>
        <b>Last Modified:July 15,2019</b>
      </p> 

      <p>
        Visionrosetta.in is not associated with any kind of profit and nonprofit organization, and all articles and post is written by the site owner, it truly means you are are aware of all the term of service 


      </p>
          <p>
            <h3><b>Privacy</b></h3>
<br>
            <p><b>Cookies and Log Files</b></p>
            <p>
              
              Visionrosetta.in does not store any kind user personal information likes name, password, or email 


          </p>

          <h3><b>Terms Of Service</b></h3><br>
          <p><b>Article & Post Terms</b></p>
          <p>
           
            The sole purpose behind site is to provide an educational content related system administrator, software and tools, you are 100% responsible for doing mess up with your system using the site content, you are using all present information on-site at your own risk


          </p>

          <p><b>Trademark & Copyright</b></p>
          <p>
            visionrosetta.in is an educational blog, means the use of some names, images, the title from another site, they all are property of another site owner,visionrosetta.in does not do pretend the copy of the content from another site and show like they are their content
<br><br>  

           Visionrosetta.in does not allow anyone to republish site content on another site without permission of the site owner, if we find out that you are republishing site content on your site, we will file a complaint against you 

          </p>

          <p><b>Confidential Data Terms</b></p>
          <p>
            visionisionrosetta do not ask about any confidential information like credit, debit card or any payment if you do this,  visionrosetta.in or owner will not responsible for any kind of loss


          </p>
          

          <p><b>Terms Of Service Update</b></p>
          <p> 
            visionrosetta.in may revise term of service any time without prior noticing, by using the site means you are agreeing to be bound by the current version of Term of Service and Privacy


          </p>
          


   
        </div>
      </div>

    </div>
  </div>
</div>

          
<br><br><br><br><br>