<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

<div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-sm-3" style="margin:2%;padding-left:0%;padding-right:0%;">

          <a routerLink="/detecting-open-port-linux" title="detecting-open-port-linux" class="custom-card">
          <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
             
                <img class="card-img-top" src="assets/images/ubuntu/Tutorials/openport.jpg" alt="Card image cap">

                <div class="card-body">
                        <h5 class="card-title">Detect Open Port</h5>
                        <p class="card-text">We Will always look at different ways to check which network port currently being listened on network for incoming connection Security Or Vulnerability has always been concern for us   </p>
                        <br><button mat-raised-button color="accent">Read More</button>
               </div>
              
            </div>
 
          </a>
          
      </div>

      
      <div class="col-sm-3" style="margin:2%;padding-left:0%;padding-right:0%;">

        <a routerLink="/partition-filesystem-on-linux" class="custom-card">
        <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
           
              <img class="card-img-top" style="height: 30%;" src="assets/images/ubuntu/Tutorials/FileSystem/home.png" alt="file system and partition image">

              <div class="card-body">
                      <h5 class="card-title">File System and Partition on Linux
                      </h5>
                      <p class="card-text">  
                      Storage is basic need of every computer , File System is a logical method of organizing and storing abundance amount of data
                      in a way that make it easy to manage the files on machine  </p>
                      <br><button mat-raised-button color="accent">Read More</button>
             </div>
            
          </div>

        </a>


  
        
    </div>

    <div class="col-sm-3" style="margin:2%;padding-left:0%;padding-right:0%;">

      <a routerLink="/how-to-install-ubuntu-20.04" class="custom-card">
      <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
         
            <img class="card-img-top" style="height: 30%;" src="assets/images/ubuntu/Tutorials/ubuntu20/ubuntu20_glimpse.png" alt="ubuntu 20.04 LTS installation glimpse">

            <div class="card-body">
                    <h5 class="card-title">How to Install the Ubuntu 20.04(Focal Fossa)
                    </h5>
                    <p class="card-text">  
                      On, April 23, 2020,Canonical, the publisher of Ubuntu announced the availability of ubuntu 20.04 LTS it is known as Ubuntu 20.04(Focal Fossa)   </p><br>
                    <br> <button mat-raised-button color="primary">Read More</button>
           </div>
          
        </div>

      </a>



      
  </div>

       
      </div>
      </div>
