<html>
  <head>
    <title>Ubuntu 20.04 installation</title>
    <meta charset="utf-8">
    <meta name="description" content="how to install the ubuntu 20.04 on desktop">
    <link href="https://visionrosetta.in/how-to-install-ubuntu-20.04" rel="canonical">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Roboto+Slab&display=swap" rel="stylesheet">
     
  </head>
  
<div class="container">
<div class="card">
  <div class="card-body">


    <div class="conent_typograhpy">

      <h1>
          {{post_Data.title}}
      </h1><br><br>
      
      <div>
       <b>Written By</b> :{{post_Data.publisher}}:<b style="color:green;">
          {{post_Data.publishAt}}
        </b>
      </div>
      <br>
      
        <div>
                {{post_Data.description}}
      
        </div>
       
      
      <div id="textbody">
      
      </div>
      
      <div style="color:green">
        {{post_Data.conclusion}}
      
      </div>
      
      </div>
      

  </div>
</div>

</div>
</html>