<html>
  <head>
    <title>Ubuntu 20.04 installation</title>
    <meta charset="utf-8">
    <meta name="description" content="how to install the ubuntu 20.04 on desktop">
    <link href="localhost:4200/ubuntu-2020" rel="canonical">
  </head>
</html>
<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
<div class="container">


<div>

<h1>
    {{title}}
</h1>

<div>
  Written By:{{publisher}}
</div>


  <div>
          {{description}}

  </div>
 
</div>
<div id="textbody">

</div>
<div>
  {{conclusion}}

</div>

</div>