<!DOCTYPE html>
<html>

<head>
    <title>What is Shell Script</title>
    <meta charset="utf-8">
    <meta name="keyword" content="what is shell script,how to use it,basic program of shell script">
    <meta name="description" content="how to run shell script, give permsission to run shell script file or .sh file">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://visionrosetta.in/how-to-install-ubuntu-20.04" rel="canonical">
    <meta property="og:url" content="https://visionrosetta.in/introduction-linux-shell-scripting">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Introduction of bash shell">
    <meta property="og:description" content="what is shell script and how to use for begginers">
    <meta property="og:image" content="https://visionrosetta.in/assets/images/shellscript/kernel_diagram.png">
    <meta property="fb:app_id" content="1632104053519386">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="visionrosetta">
    <meta property="og:image:width" content="738">
    <meta property="og:image:height" content="415">
    <meta property="article:tag" content="Ubuntu">
    <meta property="article:section" content="operating system">
    <meta property="article:published_time" content="2020-05-22T02:04:43.495Z">
    <meta property="og:image:type" content="image/png">

    <meta name="twitter:card"
        content="Steps by Steps Guides to ubuntu 20.04  LTS installation to make task easy for the beginners">
    <meta name="twitter:site" content="@visionrosetta">
    <meta name="twitter:url" content="https://visionrosetta.in/introduction-linux-shell-scripting">
    <meta name="twitter:title" content="Introduction of Shell Script">
    <meta name="twitter:description" content="steps by steps guides of using shell script for begginers">
    <meta name="twitter:image" content="https://visionrosetta.in/assets/images/shellscript/kernel_diagram.png">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card">


                <h1>What is a Shell and Shell Scripting(Introduction)</h1>
                <p>
                    Written By:Shaharukh Parmar, 22,May 2020
                </p>

                <p>

                    we always have been tech enthusiast and are loved to do various experiments in operating systems,
                    some of you might have thought how this all Linux command will work internally and how to interact
                    with the kernel to allocate on-demand user request, this post is all about before you make the jump
                    to writing shell script code you will have to understand about operating system main component which
                    is listed below

                </p>

                <h2>Kernel</h2>
                <p>

                    - we can say kernel is the heart of the operating system we know without heart what will happen,
                    Kernel is the main program is written for the operating system to interact with the low-level
                    machine component

                    For Example

                    - you might have learned in operating system subject about User level space and kernel-level space
                    this is perfect example fit here to enlighten you more about kernel working

                </p>
                <h6>let understand how kernel does work with help of diagram
                </h6>

                <div class="col-sm">
                    <img src="assets/images/shellscript/kernel_diagram.png" alt="how kernel work internally">

                </div>
                <h5>Kernel Mainly Managed the following Resources</h5>
                <p>


                    1: File Management<br>
                    2: Process Management<br>
                    3: I/O Management<br>
                    4: Memory Management<br>
                    5: Disk Management

                </p>

                <h4><b>What is a shell</b> </h4>
                <p>
                    - a shell script is nothing more a list of command in a computer program that is run by Unix shell

                </p>
                <p><b>Author of Bourne Shell</b></p>
                <p>
                    Stephen Richard(7, January,1944)is a computer scientist, which is the foundation for the standard
                    command-line interfaces to Unix.

                </p>
                <p><b>What is the purpose of run shell script</b></p>
                <p>
                    at some point, we need to work on the file system <br>

                    <b>For Instance :</b>

                    I want to change the content of the particular file, run file with such privileges,
                </p>

                <p>

                    Before we dive into we must have to understand about different types of shell available for Linux
                    system,
                    <br><br>
                    There are Total 3 Types of Shell<br><br>
                    1:Bash Shell(Bourne Again Shell)<br>
                    2:C Shell(CSH)<br>
                    3:Korn Shell(KSH)<br><br>


                    1:Bash Shell<br>

                    It is most widely used shell in Linux system, it comes as default login shell in Linux distribution
                    and another operating system (macOS).if you want to install on windows you can
                    <br><br>
                    2:C Shell<br>
                    -the C Shell is also Unix shell created by Bill Joy in the late 1970s, it follows all syntax similar
                    we are used in C Programming
                    <br><br>
                    3:Korn Shell<br>

                    -The Korn is the Unix shell often called a command interpreter, it was developed by David Korn of
                    Bell Labs

                </p>
                <br>
                <h4><b>Let's see how bash shell communicate internally with kernel and operating system through
                        diagram</b></h4>
                <div>
                    <img src="assets/images/shellscript/shell_diagram.png" alt="how shell work internally">

                </div><br>
                <p>
                    <b> I hope you got to know basic about Linux</b>
                </p>
            </div>
        </div>
    </div>
    <br>

</body>

</html>