<head>
  <meta charset="UTF-8">

  <meta name="description" content="redirecterror">
  <meta name="error" content="pagenotfounderror">

  <title>page error</title>
</head>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="assets/images/error.jpeg">
    </div>
    <div class="col-sm">
      <h2>Opps!</h2>
    <h4>Sorry , the page not found</h4>
    <p>
      We Can't find the page you're looking for <br>
      you can return to the previous page or visit our homepage.<br>
      
    </p>

    <div>
    <button mat-raised-button (click)="NavigateHomepage()">Visit Homepage</button>&nbsp;&nbsp;
    
   
  </div>
    </div>
  </div>
</div>
