<html>
    <head>
        <title>NewsLetter</title>
        <meta charset="utf-8">

    </head>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Sign Up to Recieve Newlsetter in your Inbox For Up Coming Post</h3><br>
            <div [hidden]="submitted">

          <!--    <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" required [(ngModel)]="newsletter.email" name="email">
                  
                </div>
             
                 

                <button type="submit" class="btn btn-success">Submit</button>
                <br>
                {{newsletter_subscribed}}
              </form>
            -->
          
          </div>
             
            
        </div>
    </div>
</div>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>

