<!DOCTYPE html>
<html>
    <head>
        <title>Unix/Linux Partition and File Systems -fdisk,cul,ext4,blkid-VisionRosetta</title>
        <meta name="description" content="File System and Partition on Unix/Linux steps by steps guide with screenshot">
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        
                        <h1>File System and Partition on Linux</h1>
                        <span>
                            Created By: Shaharukh Parmmar - 01, Feb,2020

                        </span>
                        <p>
                            
                            Storage is basic need of every computer , File System is a logical method of organizing and storing abundance amount of data
                            in a way that make it easy to manage the files on machine
                           ,Linux Provide the tools to manage disk partition with help of <strong>
                               fdisk </strong>, you can view how much partition has been done on disk by running the utility fdisk with <strong>-l</strong>
                               option
                      
                        </p>
                        
                        <h5>
                        Now time to run fdisk with -l to check the partition table on disk
                        </h5>
                        <div>
                            <img src="assets/images/ubuntu/Tutorials/FileSystem/fdisk-l.png" alt="file system and partition with fdisk -l">
                        </div>
                        <h6>- some berif information has been printed by fdisk -l</h6>
                        <span>
                            <strong>Device</strong>:Name of partition<br>
                            <strong>Start & End</strong>: Starting to ending address of sector<br>
                            <strong>Blocks</strong>:Total size of the block<br>
                            <strong>FileSystem</strong>:partition contain which type of the file, it might be (ext4,ext2,vfat)
                        </span>
                        <span>
                           -  you can also check the size of hard drive with the help of <strong>parted</strong> command with -l option along sudo privilege 
                        </span>
                        <div>
                            <h5 style="color:blue">Steps by Steps Guide</h5><br>
                            <span>
                              <strong>
                                  Steps:1
                              </strong>
                              <p>open the terminal and type the following command to create the partition with the help of <strong>
                                  mkfs
                              </strong>     command</p>
                              <div>
                                <img src="assets/images/ubuntu/Tutorials/FileSystem/mkfs-t-filetype-nameofpart.png" alt="file system and partition with mkfs -t filetype and name of partition">
                            </div>
                            <br>
                            <span>
                            <strong>Steps:2</strong><br>
                            <p>
                                - Go ahead and now time to add this partition entry into fstab <br>
                                -  to check the UID of partition you can type <strong>
                                  blkid /dev/nameofpartition
                                </strong>
  
                            </p>
                        </span>

                        <span>
                            <strong>Steps:3</strong><br>
                            <p>- now create the mount point, we need to create the directory to point on partition, lets create
                                the directory  <br>type: <strong>
                                 mkdir test
                                </strong>
  
                            </p>
                        </span>
                        <h4>Remove the Existing File System</h4>
                           <p>
                               1:Unmount file system by using <strong>unmount /nameofmountpoint</strong><br>
                               2:remove the corresposnding entry from the <strong>/stc/fstab</strong><br>
                               3:Remove the mount point directory <strong>rmdir /nameofmountpoint</strong>
                           </p>
                           <br>
                           <p style="color:red"> 
                            That's all Stay Tuned to get update related Linux
                           </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </body>
</html>