<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="linux,ubuntu,kalilinux">
  <meta name="keywords" content="howtoinstallubuntu,kaliupdates">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<div id="google_translate_element"></div>
<div class="navbarsetting">

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#075B88;color:white;">
      <img src="assets/images/favicon-32x32.png" style="width:3%;height:3%;">
 

       <a class="navbar-brand" style="margin-left: 1%;font-family: 'Cedarville Cursive', cursive;
       ;line-height: 45px;font-size: 25px;">Vision Rosetta</a>

        <button mat-raised-button color="primary" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" >
            <i class="fas fa-bars"></i>
 
        </button>

        <div style="margin-left:2%"  class="collapse navbar-collapse"  id="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" [ngbCollapse]="isCollapsed" [ngClass]="{collapse: isCollapsed}">
          <ul   class="nav navbar-nav" (click)="isCollapsed = !isCollapsed">
            <li class="nav-item active">
              <a class="nav-link" href="#"  routerLink="" ><i class="fa fa-home" aria-hidden="true"></i>
                HOME <span class="sr-only">(current)</span></a>
            </li>
 
 
             <li class="nav-item active">
              <a class="nav-link"  routerLink="ubuntu-tutorials"><i class="fab fa-linux"></i>
                UBUNTU  <span class="sr-only">(current)</span></a>
            </li>

             <li class="nav-item active">
              <a class="nav-link"  routerLink="kali-linux-tutorials"><i class="fab fa-linux"></i>
              KALI  LINUX <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link"  routerLink="top-useful-linux-command"><i class="fab fa-linux"></i>
                COMMAND <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item active">
                <a class="nav-link"  routerLink="feedback"><i class="fas fa-comments"></i>

                  FEEDBACK <span class="sr-only">(current)</span></a>
              </li>

  
         
           </ul>


        </div>
      </nav>


</div>

