 
.navbar-default {
  height: 10%;
  background:#262626;
  margin-left: 25%;
   
}

ul li a:hover{
  color:red;
}

ul li a{
  color:white ;
  
  font-weight: bold;;
  margin-right: 10px;
  font-size: 15px;
  Font-weight: 400;
  

}
  
 ul{
   margin-left: 20%;

 }