 
.navbar-default {
  height: 10%;
  background:#262626;
  margin-left: 25%;
   
}

ul li a:hover{
  color:red;
}

ul li a{
  color:blue ;
  
  font-weight: bold;
  margin-right: 10px;
  font-size: 19px;
  Font-weight: 400;
  

}
  
 ul{
   margin-left: 20%;

 }
 h2{color:rebeccapurple}