@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');


.navbar-default {
  height: 10%;
  background:#262626;

}

ul li a:hover{
  color:red;
}

ul li a{
  color:blue ;
  font-weight: bold;;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

  Font-weight: 400;

}
 img{
   width:70%;
   height:70%;
 }