<!DOCTYPE html>
<html>
    <head>
        <title>
            10 Basic Linux Command -cat, uptime,pwd, mkdir-visionrosetta
        </title>
        <meta http-equiv="Cache-Control" content="max-age=200" />
        <meta charset="utf-8">
        <meta name="keyword" content="what is  linux command ,how to use it in terminal">
        <meta name="description" content="top useful linux command everone should know">
 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        
                        <h1>Top 10 Linux Basic Command</h1>
                        <span>
                            Created By: Shaharukh Parmar - 01, Feb,2020

                        </span>
                        <p>
                            <span>
                            
                                <div><br>
                                    <p>
                                        <strong>
                                            1:cat command
                                        </strong><br>
                                        cat is used to view the content of the file or concatenates files, create a new file
                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ cat filename&nbsp;
                                        <br>
                                    </div>

                                    <br>
                                    <p>
                                        <strong>
                                            2:pwd command
                                        </strong><br>
                                         display the current working directory
                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ pwd
                                        <br>
                                    </div>

                                    <p>
                                        <strong>
                                            3:cd command
                                        </strong><br>
                                          move from one directory to another directory
                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ cd  Desktop
                                        <br>
                                    </div>


                                    <p>
                                        <strong>
                                            4:mkdir command
                                        </strong><br>
                                       is used to create the new directory

                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ mkdir filename
                                        <br>
                                    </div>
                                    <br>
                                    <p>
                                        <strong>
                                            5:rmdir command
                                        </strong><br>
                                       is used to remove the created  directory

                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ rmdir directoryname
                                        <br>
                                    </div>
                                 <br>

                                    <p>
                                        <strong>
                                            6:rm -r directory command
                                        </strong><br>
                                        remove the file and directory recursively


                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $  rm -r directoryname
                                        <br>
                                    </div>
                                            <br>
                                    <p>
                                        <strong>
                                            7:touch command
                                        </strong><br>
                                       is used to create a new file


                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         
                                         $ touch filename 
                                        <br>
                                    </div>
                                        <br>

                                    <p>
                                        <strong>
                                            8:cp command
                                        </strong><br>
                                        is used to copy the files



                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ cp sourcefile destinationfile<br>
                                         cp  hello.txt  /Desktop
                                        <br>
                                    </div>
                                            <br>
                                    <p>
                                        <strong>
                                            9:hostname command
                                        </strong><br>
                                         display the host machine name



                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $  hostname
                                         
                                        <br>
                                    </div>

                                            <br>

                                    <p>
                                        <strong>
                                            10:uptime command
                                        </strong><br>
                                        is used to show how long system had been running, number of logged users


 
                                    </p>
                                    Syntax
                                         
                                    <div style="background-color:#051E30;color:white;padding: 1%;">
                                         &nbsp;
                                         $ uptime   
                                          
                                        <br>
                                    </div>

                                        </div>
                         </span>
                        </p>
                        
                        </div>
                    </div>
                </div>
            </div>
         
        <br><br><br>
    </body>
</html>