
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>Ubuntu ,Kali,Shell Script & Linux Basic Commands </title>
    <link rel="canonical" href="https://www.visionrosetta.in">
    <meta name="keyword" content="ubuntu, kali linux, shell script and basic linux command for begginers with steps by steps guide
     to make work ease for users"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  
  <body >
  <div class="container">
  
    
    <div class="card-deck">
      <div class="card">
       
        <img class="card-img-top img-fluid" src="assets/images/ubuntuinstallation.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"> How  To install the Ubuntu 19.04 LTS </h4>
          <span  >
            Post On :10,Oct 2019
          </span>  
          <p class="card-text"> In This Tutorials We will Learn how to install fresh ubuntu 19.04(Disco Dingo) Lts on Desktop/Laptop With steps by steps Guides <a routerLink="/ubuntu-19.04-installation"> 
            <br><br><button mat-raised-button color="accent">Read More</button></a></p>
        </div>
      </div>
     
      <div class="card">
        
        <img class="card-img-top img-fluid" src="assets/images/nodejs.jpg" alt="Card image cap" >
        <div class="card-body">
          <h4 class="card-text">How  To install Node Js on Ubuntu</h4>
          <span  >
            Post On :7,Oct 2019
          </span>  
              <p>Node Js Is Free and Open Source Server Environment developed to build scalable modern application  
                <a routerLink="ubuntu-nodejs-installation"> <br><br>
                <br><button mat-raised-button color="accent">Read More</button></a></p>
  
            </div>
      </div>
      <!-- /.card -->
  
      <div class="card">
        <!-- set a width on the image otherwise it will expand to full width       -->
        <img class="card-img-top img-fluid" src="assets/images/openssh.jpg" width="400">
        <div class="card-body">
           
          <h4 class="card-text">How  To install the Open SSH On Ubuntu</h4>
          <span  >
              Post On :15,Oct 2019
            </span> 
            
          <p class="card-text"> Open SSH  is Secure Networking based Secure Sheel Protocoll Normally use to encrypt all traffic to eliminate eavesdropping..
              <a routerLink="ubuntu-openssh">
                <br><button mat-raised-button color="accent">Read More</button></a> </p>
        </div>
      </div>
      <!-- /.card -->
      <div class="card">
          <!-- set a width on the image otherwise it will expand to full width       -->
          <img class="card-img-top img-fluid" src="assets/images/ubuntu/Tutorials/openport.jpg" width="400">
          <div class="card-body">
             
            <h4 class="card-text">Detect Open Port On Linux</h4>
            <span  >
                Post On :17,Nov 2019
              </span> 
              
            <p class="card-text"> 
              We Will always look at different ways to check which network port currently being listened on network for incoming connection
              Security...
                <a routerLink="detecting-open-port-linux">
                  <br><button mat-raised-button color="accent">Read More</button></a> </p>
          </div>
        </div>
      <!-- /.card -->
  
  
    </div>
    <!-- /.card-deck -->
   
  </div>
  <!-- /.container --><br><br>
  <div  >
      <header style="background-color: #4682B4">
            <h3 style="text-align: center;color:white;padding:2%;margin:2%;font-family: 'Merriweather', serif;line-height: 45px;font-size: 20px;">Recent Post On Kali Linux</h3>
           <br><br>
           <div class="container" style="padding-top: 0%;">

            <div class="row">
              <div class="col-sm-4">
                  <a routerLink="create-non-root-user-on-kali">
                <div class="card" style="display: inline-block;color:black">
                  <div class="card-body">
                    <p><b>Create Non Root Account On Kali Linux&nbsp;<span style="background-color:blue;" class="badge badge-secondary">New</span> </b></p>

                     <p>
                        Today World Some of software does not run on root privilege
                     </p> 
                    
                  </div>
                </div></a>
              </div>
            </div>
           </div>
         <br><br><br><br><br>
  
       </header>
     </div>
  <br><br>
  </body>
  </html>
  