<html>
    <head>
        <meta charset="utf-8">
        <title>How to install brave browser on ubuntu or other linux distros</title>
        <meta name="name" content="how to stop the cookie tracking and ad showing and increase more focus on work with the help of brave browser">
        <meta name="keyword" content="how to install brave browser on ubuntu or other linux distros">
        <meta name="description"
            content="how to stop the cookie tracking and ad showing and increase more focus on work with the help of brave browser">
        <link rel="canonical" href="https://www.visionrosetta.in/brave-browser-installation">
         <meta http-equiv="Cache-Control" content="max-age=200" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">

                            <h1><br />  Brave: Block ads and stop tracking</h1>
<p>&nbsp;</p>
<img style='max-width: 500px' src="assets/images/ubuntu/Tutorials/Brave/brave.png"
                            alt="brave browser for linux"><br><br><br>
<p><span style="font-weight: 400;">  </span><span style="font-weight: 400;">- what is the most irritating thing we face while web surfing(the web page is popped up with irrelevant ads)</span></p>
<p> - Brave is Open Source and Free to use, it has been built on chromium</p>
<p>  - you will be encountering this issue most of the time, very often we get distracted and create an obstacle to focus on the work through flooding of advertising. This is the greatest obstruction today, therefore, it is necessary to choose the browser that helps us to stay away from distraction and assist us to stay focused.</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">- thanks to the developer of brave who offered a panacea to users with great control over the internet</span></p>
<p>&nbsp;</p>
<h2><span style="font-weight: 400;">-</span> <span style="font-weight: 400;">The Foremost Features that have been offered by Brave Browser and what makes it differ from the rest of the browser</span></h2>
<p>&nbsp;</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">ad Blocking</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Cookie Control</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Block Script</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">HTTP Upgrading</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Fast Browsing</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Fingerprinting</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Query Parameter Filtering</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Steps By Steps Guide to Install The Brave</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;font-weight: bold">Step 1 :&nbsp;</span></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Open the terminal Via (ALT+CTRL+T) or by searching with the help of App Launcher</span></p>
<p><span style="font-weight: 400;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
<p><span style="font-weight: 400;font-weight: bold">Steps 2:</span></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp; &nbsp; </span> <span style="font-weight: 400;">in order to install the Brave on the machine before that we must have to install the curl on our machine(by default on most Linux distros it comes pre-installed)</span></p>
<img style='max-width: 500px' src="assets/images/ubuntu/Tutorials/Brave/curl.png"
                            alt="install curl on ubuntu for brave browser"><br>
<p><br /><span style="font-weight: 400;font-weight: bold;">Steps 3:&nbsp;</span></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;Now then add Repository to your system by typing the following commands</span></li>
</ul>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp; curl -s https://brave-browser-apt-release.s3.brave.com/brave-core.asc | sudo apt-key --keyring /etc/apt/trusted.gpg.d/brave-browser-release.gpg add&nbsp;</span></p>
<img style='max-width: 500px' src="assets/images/ubuntu/Tutorials/Brave/key.png"
alt="add key to system for brave browser"><br><br><br>
<p></p>
<p><span style="font-weight: 400;font-weight: bold;">Steps 4:</span></p>
 
<p><span style="font-weight: 400;">&nbsp;-Now time is up to add a repository in the sources. list.d(directory)</span></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;</span></p>
<p><span style="font-weight: 400;">&nbsp;&nbsp;$ echo "deb [arch=amd64] https://brave-browser-apt-release.s3.brave.com/ stable main" | sudo &nbsp; tee /etc/apt/sources.list.d/brave-browser-release.list</span></p>
<img style='max-width: 500px' src="assets/images/ubuntu/Tutorials/Brave/keytorepository.png"
                            alt="add repository key to system for brave browser installation on ubuntu or any version"><br><br><br>
<p></p>
<p><span style="font-weight: 400;font-weight: bold">Steps: 5&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Finally, we have reached the mark where only one steps remain to install the brave web browser on our system</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">$ sudo apt-get update &amp;&amp; sudo apt-get install brave-browser</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">It will ask you to continue or&nbsp;abort the installation in form of (y/n) (to continue to press the Y and to&nbsp;abort press the N)</span></li>
</ul>
<img style='max-width: 500px' src="assets/images/ubuntu/Tutorials/Brave/braveinstall.png"
                            alt="install the brave browser on ubuntu or other linux distros"><br><br><br>
<p><br /><br /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </body>
</html>