<!DOCTYPE html>
<html>

<head>
    <title>Shell Script Tutorials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shaharukh Parmar">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <a routerLink="/introduction-linux-shell-scripting">
                        <h4>Get Started</h4>
                    </a>
                </div>
            </div><br>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Hello World Program</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>if-else</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>while Loop</h4>
                    </a>
                </div>
            </div>
        </div><br>
        <div class="row">

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>For Loop</h4>
                    </a>
                </div>
            </div><br>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Command Line Arguments</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>String</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Case</h4>
                    </a>
                </div>
            </div>

        </div> <br>


        <div class="row">

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Function</h4>
                    </a>
                </div>
            </div><br>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Exit Codes</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Comments</h4>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Read User Input</h4>
                    </a>
                </div>
            </div>

        </div> <br>


        <div class="row">

            <div class="col-sm-3">
                <div class="card">
                    <a href="#">
                        <h4>Variables</h4>
                    </a>
                </div>
            </div><br>


        </div>




    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>